[Desktop Entry]
Name=MWB Linux Bridge
Comment=Configure and run a PowerToys Mouse Without Borders compatible Linux bridge
Exec=mwb-linux-bridge-gui
Terminal=false
Type=Application
Icon=dev.benm.MwbLinuxBridge
Categories=Utility;
StartupWMClass=mwb-linux-bridge
